#amgiftcard-form,
.cart .giftcard {
    width: 100%;
}
#amgiftcard-form h2,
.cart .giftcard h2 {
    display: none;
}
#amgiftcard-form label,
.cart .giftcard label {
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    min-width: 105px;
    display: inline-block;
    margin-right: 10px;
}
#amgiftcard-form .field-wrapper,
.cart .giftcard .field-wrapper {
    display: inline-block;
}
#amgiftcard-form .validation-advice,
.cart .giftcard .validation-advice {
    display: inline;
}
#amgiftcard-form .button-wrapper,
.cart .giftcard .button-wrapper {
    display: inline-block;
    vertical-align: bottom;
}
#amgiftcard-form .button-wrapper > button,
.cart .giftcard .button-wrapper > button {
    float: left;
}
#amgiftcard-form .input-text,
.cart .giftcard .input-text {
    border-radius: 0;
    height: 30px;
    margin: 4px 10px 0 0;
    width: 180px;
}

.button2:hover {
    background-color: transparent!important;
}

.calendar {
    z-index: 10000;
}