<?xml version="1.0"?>
<config>
  <modules>
    <Cda_Custompost>
      <version>0.0.1</version>
    </Cda_Custompost>
  </modules>
  <frontend>
    <routers>
     <custompost>
        <use>standard</use>
          <args>
            <module>Cda_Custompost</module>
            <frontName>trending</frontName>
          </args>
      </custompost> 
    </routers>
		<layout>
		  <updates>
			<custompost>
			  <file>custompost.xml</file>
			</custompost>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <custompost>
        <class>Cda_Custompost_Helper</class>
      </custompost>
    </helpers>
	<blocks>
	  <custompost>
		<class>Cda_Custompost_Block</class>
	  </custompost>
	</blocks>
  </global>
</config> 