<?xml version="1.0"?>
<config>
  <modules>
    <Cda_Customcontact>
      <version>1.0.0</version>
    </Cda_Customcontact>
  </modules>
  <frontend>
    <routers>
      <customcontact>
        <use>standard</use>
          <args>
            <module>Cda_Customcontact</module>
            <frontName>customcontact</frontName>
          </args>
      </customcontact>
    </routers>
  </frontend>
  <global>
		<rewrite>        
            <cda_customcontact_contacts_indexcontroller>
                <from><![CDATA[#^/contacts/index/#]]></from> <!-- Mage_Contacts_IndexController  -->
                <to>/customcontact/contacts_index/</to> <!-- Cda_Customcontact_Contacts_IndexController  -->
            </cda_customcontact_contacts_indexcontroller>
		</rewrite>
    <helpers>
      <customcontact>
        <class>Cda_Customcontact_Helper</class>
      </customcontact>
    </helpers>
  </global>
  <admin>
	<routers>
	  <customcontact>
	    <use>admin</use>
		<args>
		  <module>Cda_Customcontact</module>
		  <frontName>admin_customcontact</frontName>
		</args>
	  </customcontact>
	</routers>
  </admin>
</config> 