// =============================================
// Brand Colors
// =============================================

$c-blue: #3399CC;
$c-white: #FFFFFF;
$c-black: #000000;
$c-grey: #d3d3d3;
$c-light-grey: #f8f8f8;
$c-dark-grey: #636363;
$c-red: #df280a;

// =============================================
// Primary Break Points
// =============================================

// These should be used with the bp (max-width, xx) mixin
// where a min-width is used, remember to +1 to break correctly.
// If these are changed, they must also be updated in app.js

$bp-small: 479px;
$bp-xsmall: 599px;
$bp-medium: 680px;
$bp-xmedium: 770px;
$bp-large: 979px;
$bp-xlarge: 1199px;