<?xml version="1.0"?>
 <config>
    <modules>
        <Cda_Latestblogpost>
            <version>1.0.0</version>
        </Cda_Latestblogpost>
    </modules>    
    <global>
        <blocks>
            <latestblogpost>
                <class>Cda_Latestblogpost_Block</class> 
            </latestblogpost>
        </blocks>
        <helpers>
            <latestblogpost>
                <class>Cda_Latestblogpost_Helper</class>
            </latestblogpost>
       </helpers>
    </global>
</config>
