<?xml version="1.0"?>
<config>
    <modules>
        <MageWorkshop_DRCategoryRatings>
            <version>1.0.0</version>
        </MageWorkshop_DRCategoryRatings>
    </modules>
    <global>
        <models>
            <drcategoryratings>
                <class>MageWorkshop_DRCategoryRatings_Model</class>
            </drcategoryratings>
        </models>
        <blocks>
            <drcategoryratings>
                <class>MageWorkshop_DRCategoryRatings_Block</class>
            </drcategoryratings>
            <adminhtml>
                <rewrite>
                    <review_rating_detailed>MageWorkshop_DRCategoryRatings_Block_Adminhtml_Review_Rating_Detailed</review_rating_detailed>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <drcategoryratings>
                <class>MageWorkshop_DRCategoryRatings_Helper</class>
            </drcategoryratings>
        </helpers>
        <resources>
            <drcategoryratings_setup>
                <setup>
                    <module>MageWorkshop_DRCategoryRatings</module>
                </setup>
            </drcategoryratings_setup>
        </resources>
        <events>
            <mageworkshop_modules_before_load>
                <observers>
                    <drcategoryratings>
                        <type>singleton</type>
                        <class>drcategoryratings/observer</class>
                        <method>checkIfModuleEnabled</method>
                    </drcategoryratings>
                </observers>
            </mageworkshop_modules_before_load>
            <mageworkshop_module_enable>
                <observers>
                    <drcategoryratings>
                        <type>singleton</type>
                        <class>drcategoryratings/observer</class>
                        <method>enableModule</method>
                    </drcategoryratings>
                </observers>
            </mageworkshop_module_enable>
            <mageworkshop_module_uninstall>
                <observers>
                    <drcategoryratings>
                        <type>singleton</type>
                        <class>drcategoryratings/observer</class>
                        <method>uninstallModule</method>
                    </drcategoryratings>
                </observers>
            </mageworkshop_module_uninstall>
        </events>
    </global>
    <adminhtml>
        <events>
            <controller_action_postdispatch_adminhtml_catalog_product_review_jsonProductInfo>
                <observers>
                    <drcategoryratings>
                        <class>MageWorkshop_DRCategoryRatings_Model_Observer</class>
                        <method>setProductId</method>
                    </drcategoryratings>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_review_jsonProductInfo>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <drcategoryratings>
                        <class>MageWorkshop_DRCategoryRatings_Model_Observer</class>
                        <method>toggleTab</method>
                    </drcategoryratings>
                </observers>
            </adminhtml_catalog_category_tabs>
        </events>
        <translate>
            <modules>
                <MageWorkshop_DRCategoryRatings>
                    <files>
                        <default>MageWorkshop_DRCategoryRatings.csv</default>
                    </files>
                </MageWorkshop_DRCategoryRatings>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <drcategoryratings>
                    <file>mageworkshop/drcategoryratings.xml</file>
                </drcategoryratings>
            </updates>
        </layout>
    </frontend>
    <default>
        <drcategoryratings>
            <settings>
                <enable>0</enable>
            </settings>
        </drcategoryratings>
    </default>
</config>
