<?xml version="1.0"?>
<config>
    <modules>
        <MageWorkshop_ReviewWall>
            <version>1.0.1</version>
        </MageWorkshop_ReviewWall>
    </modules>

    <global>
        <blocks>
            <reviewwall>
                <class>MageWorkshop_ReviewWall_Block</class>
            </reviewwall>
        </blocks>
        <helpers>
            <reviewwall>
                <class>MageWorkshop_ReviewWall_Helper</class>
            </reviewwall>
        </helpers>
        <models>
            <reviewwall>
                <class>MageWorkshop_ReviewWall_Model</class>
            </reviewwall>
        </models>
        <resources>
            <mageworkshop_reviewwall_setup>
                <setup>
                    <module>MageWorkshop_ReviewWall</module>
                </setup>
            </mageworkshop_reviewwall_setup>
        </resources>
        <template>
            <email>
                <reviewwall_share_review_by_email_template translate="label" module="reviewwall">
                    <label>Share Review By Email (MageWorkshop)</label>
                    <file>mageworkshop/reviewwall/share_review.html</file>
                    <type>html</type>
                </reviewwall_share_review_by_email_template>
            </email>
        </template>
        <events>
            <mageworkshop_modules_before_load>
                <observers>
                    <reviewwall>
                        <type>singleton</type>
                        <class>MageWorkshop_ReviewWall_Model_Observer</class>
                        <method>checkIfModuleEnabled</method>
                    </reviewwall>
                </observers>
            </mageworkshop_modules_before_load>
            <mageworkshop_module_uninstall>
                <observers>
                    <reviewwall>
                        <type>singleton</type>
                        <class>MageWorkshop_ReviewWall_Model_Observer</class>
                        <method>uninstallModule</method>
                    </reviewwall>
                </observers>
            </mageworkshop_module_uninstall>
            <controller_action_layout_render_before_cms_page_view>
                <observers>
                    <reviewwall>
                        <class>MageWorkshop_ReviewWall_Model_Observer</class>
                        <method>checkCmsView</method>
                    </reviewwall>
                </observers>
            </controller_action_layout_render_before_cms_page_view>
            <controller_action_layout_render_before_cms_index_index>
                <observers>
                    <reviewwall>
                        <class>MageWorkshop_ReviewWall_Model_Observer</class>
                        <method>checkCmsView</method>
                    </reviewwall>
                </observers>
            </controller_action_layout_render_before_cms_index_index>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <mageworkshop_reviewwall>
                    <file>mageworkshop/reviewwall.xml</file>
                </mageworkshop_reviewwall>
            </updates>
        </layout>

        <routers>
            <reviewwall>
                <use>standard</use>
                <args>
                    <module>MageWorkshop_ReviewWall</module>
                    <frontName>mageworkshop_reviewwall</frontName>
                </args>
            </reviewwall>
        </routers>

        <translate>
            <modules>
                <MageWorkshop_ReviewWall>
                    <files>
                        <default>MageWorkshop_ReviewWall.csv</default>
                    </files>
                </MageWorkshop_ReviewWall>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>.
            <modules>
                <MageWorkshop_ReviewWall>
                    <files>
                        <default>MageWorkshop_ReviewWall.csv</default>
                    </files>
                </MageWorkshop_ReviewWall>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <reviewwall>
            <reviewwall_settings>
                <reviewwall_count_on_page>20</reviewwall_count_on_page>
                <template_id>1</template_id>
                <count_chars_in_review>500</count_chars_in_review>
            </reviewwall_settings>
            <share_review_by_email>
                <enabled>1</enabled>
                <copy_method>bcc</copy_method>
                <template>reviewwall_share_review_by_email_template</template>
            </share_review_by_email>
        </reviewwall>
    </default>
</config>
