<?xml version="1.0"?>
<config>
  <modules>
    <Faaya_Assist>
      <version>1.0.0</version>
    </Faaya_Assist>
  </modules>
  <frontend>
        <routers>
            <assist>
                <use>standard</use>
                <args>
                    <module>Faaya_Assist</module>
                    <frontName>assist</frontName>
                </args>
            </assist>
		</routers>
	</frontend>
  <global>
    <helpers>
      <assist>
        <class>Faaya_Assist_Helper</class>
      </assist>
    </helpers>
	<blocks>
	  <assist>
		<class>Faaya_Assist_Block</class>
	  </assist>
	</blocks>
	<models>
	  <assist>
		<class>Faaya_Assist_Model</class>
		<resourceModel>assist_mysql4</resourceModel>
	  </assist>
	  <assist_mysql4>
		<class>Faaya_Assist_Model_Mysql4</class>
		<entities>
			  <assist>
				<table>assist</table>
			  </assist>
        </entities>
	  </assist_mysql4>
	</models>
	<resources>
	  <assist_setup>
		<setup>
		  <module>Faaya_Assist</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </assist_setup>
	  <assist_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </assist_write>
	  <assist_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </assist_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <assist>
	    <use>admin</use>
		<args>
		  <module>Faaya_Assist</module>
		  <frontName>admin_assist</frontName>
		</args>
	  </assist>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <assist module="assist">
		<title>Assist</title>
		<sort_order>100</sort_order>
		<children>
		  <assist module="assist">
		    <title>Manage Assist</title>
			<sort_order>0</sort_order>
			<action>admin_assist/adminhtml_assist</action>
		  </assist>
		</children>
	  </assist>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<assist translate="title" module="assist">
			  <title>Assist</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <assist translate="title">
			<title>Manage Assist</title>
			<sort_order>0</sort_order>
		  </assist>
			  </children>
			</assist>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<assist>
		  <file>assist.xml</file>
		</assist>
	  </updates>
	</layout>
  </adminhtml>
</config>