<?xml version="1.0"?>
<config>
    <modules>
        <Cda_Weddingband>
            <version>0.1.0</version>
        </Cda_Weddingband>
    </modules>
    <global>
        <blocks>
            <weddingband>
                <class>Cda_Weddingband_Block</class>
            </weddingband>
        </blocks>	
    </global>
	<frontend>
		<routers>
			<weddingband>
			<use>standard</use>
				<args>
					<module>Cda_Weddingband</module>
					<frontName>weddingband</frontName>
				</args>
			</weddingband>
		</routers>
		<layout>
		  <updates>
			<weddingband>
			  <file>weddingband.xml</file>
			</weddingband>
		  </updates>
		</layout>
	</frontend>
</config>
