<!--@subject Gift certificate {{var gift_code}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var recipient_name":"Recipient name",
"var sender_name":"Sender name",
"var sender_message":"Sender message",
"var initial_value":"Initial value",
"var gift_code":"Gift Code",
"var expired_date":"Gift card expiry date",
"var image_base64":"Image base64 code"}
@-->
<!--@styles
@-->

<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="action-content">
                            <!--<h1>Hey, take a look at my gift registry from {{var store.getFrontendName()}}.</h1>-->
                            <table cellspacing="0" cellpadding="0" class="message-container">
                                <tr>
                                    <td>
                                        Dear {{var recipient_name}},<br>
                                        <br>
                                        {{var sender_name}} purchased a {{var initial_value}} gift card for you at {{var store.getFrontendName()}}.<br>

                                        {{if sender_message}}
                                            Please find below message from {{var sender_name}}:<br>
                                            <br>
                                            {{var sender_message}}<br>
                                        {{/if}}
                                        <br>
                                        Please use the following gift card code at {{var store.getFrontendName()}}:<br>
                                        <br>
                                        {{var gift_code}}<br>
                                        <br>
                                        {{if image_base64}}<img src="{{var image_base64}}"><br>{{/if}}

                                        <br>
                                        Look forward to seeing you at our store.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                            <center>
                                <p style="font-size:12px; margin:0;">
                                    Best regards,<br>
                                    Administration of {{var store.getFrontendName()}}
                                </p>
                            </center>
                        </td>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
