<!--@subject Email - Footer @-->
					<table cellpadding="0" cellspacing="0" border="0" align="center" class="email-footer">
						<tr>
							<td>
								<table cellpadding="0" cellspacing="0" border="0" align="center" class="footer-links">
									<tr>
										<td style="padding: 20px 0 0 0">
											<table class="links" align="center">
												<tr>
													<td><img src="{{skin url='images/email/check.png'}}">&nbsp;Free Shipping</td>
													<td><img src="{{skin url='images/email/check.png'}}">&nbsp;Free returns</td>
													<td><img src="{{skin url='images/email/check.png'}}">&nbsp;Free resizing</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table cellpadding="0" cellspacing="0" border="0" align="center" class="footer-social">
									<tr>
										<td style="padding: 20px 0">
											<h6 class="lable-title">Connect with us on</h6>
											<table cellpadding="0" cellspacing="0" border="0" align="center">
												<tr>
													<td><a href="#"><img src="{{skin url='images/email/insta.png'}}" alt=""/></a></td>
													<td><a href="#"><img src="{{skin url='images/email/fb.png'}}" alt=""/></a></td>
													<td><a href="#"><img src="{{skin url='images/email/twitter.png'}}" alt=""/></a></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table cellpadding="0" cellspacing="0" border="0" align="center" class="footer-table">
									<!-- <h5 class="closing-text">Thank you, {{var store.getFrontendName()}}!</h5> -->
									<tr>
										<td>
											<table  cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #000052;">
												<tr>
													<td class="sharing-text">
														<p>Share a picture and a story with your (product)<br />
														and you could <strong>win a</strong> ____________! <a href="#">Read more</a><br />
														about it here:xxxx</p>
													</td>
												</tr>	
											</table>
											<table cellpadding="0" cellspacing="0" border="0" align="center" class="shareimages-table">
												<tr>
													<td>
														<img src="{{skin url='images/email/footer-share-images.jpg'}}" alt=""/>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
							</tr>
						</table>	
					<!-- End Content -->
                    </td>
                </tr>
            </table>
			
			
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
