<?xml version="1.0"?>
<config>
    <modules>
        <Cda_Matchingband>
            <version>1.0.0</version>
        </Cda_Matchingband>
    </modules>
    <frontend>
        <routers>
            <matchingband>
                <use>standard</use>
                <args>
                    <module>Cda_Matchingband</module>
                    <frontName>matchingband</frontName>
                </args>
            </matchingband>
        </routers>
        <layout>
            <updates>
                <matchingband>
                     <file>matchingband.xml</file>
                 </matchingband>
            </updates>
        </layout>   
    </frontend>
    <global>
        <models>
            <matchingband>
                <class>Cda_Matchingband_Model</class>
                <resourceModel>matchingband_mysql4</resourceModel>
            </matchingband>
        </models>
        <helpers>
            <matchingband>
                <class>Cda_Matchingband_Helper</class>
            </matchingband>
        </helpers>
        <blocks>
            <matchingband>
                <class>Cda_Matchingband_Block</class>
            </matchingband>
        </blocks>
        <!--<page>
            <layouts>
                <matchingbandlayout module="page" translate="label">
                    <label>matchingband</label>
                    <template>page/matchingband.phtml</template>
                    <layout_handle>matchingbandlayout</layout_handle>
                </matchingbandlayout>
            </layouts>
        </page>-->
    </global>
</config>