table {width: 100%;border-collapse: collapse;}
td,th{padding: 10px; text-align: left; }
.product-cart-sku .information .image {display: inline-block; vertical-align: middle; width: 35px;text-align: center;  }
.product-cart-sku .information .image img{max-width: 25px;}
td.address-details,td.top-content{padding: 0;}