*{ text-align:left!important; page-break-after: avoid;
    page-break-before: avoid;}
html  { margin:0 !important; padding:0 !important; font-family:'Arsenal', sans-serif; }
body  { background:#fff !important; font-size:16px!important; padding:0 !important; margin:10px !important; font-family:'Arsenal', sans-serif; }
body.page-print { margin:auto!important; width:23.4cm!important; }
a     { color:#2976c9!important; }
th,td { color:#2f2f2f!important; border-color:#ccc!important; }
h1, h2, h3, h4, h5, h6 {font-family:'Arsenal', sans-serif; color:#000054; }
.data-table th {font-family:'Arsenal', sans-serif; color:#000054; }
.data-table tbody td, .data-table tfoot td { font-family:'Arsenal', sans-serif; color:#000054; white-space:nowrap; border-bottom:0!important; }
.buttons-set button.button  { font-family:'Arsenal', sans-serif; color:#fff; background:#000054; min-width:inherit; }
.page-print .print-head .logo { max-height:100%!important; width:auto!important; min-height:inherit!important; max-width:100%!important; padding:0!important; margin-top:30px; }
.page-print  h2.product-sku {
    font-size: 16px;
}
.product-cart-info .information .image {
    display: inline-block;
    vertical-align: middle;
}
.product-cart-info .information .image img{
	width: 20px;
}
[data-rwd-label="Qty"] {
    width: 10%;
}
@media print {
    *{
        page-break-before: avoid;
        page-break-after: auto;
    }	
    /* html,body,.page-print{
        height: 99%;
         page-break-before: avoid;
        page-break-after: auto;
        overflow: hidden;
    } */
    h2.product-sku {
        font-size: 16px;
    }
}