<?xml version="1.0"?>
<config>
    <modules>
        <Faaya_Removeshipping>
            <version>1.0.0</version>
        </Faaya_Removeshipping>
    </modules>
    <global>
        <models>
            <removeshipping>
                <class>Faaya_Removeshipping_Model</class>
            </removeshipping> 
            <sales>
                <rewrite>
                    <quote_address_total_shipping>Faaya_Removeshipping_Model_Quote_Address_Total_Shipping</quote_address_total_shipping>
                </rewrite>
            </sales>
        </models>
    </global>
</config>