<?xml version="1.0"?>
<config>
  <modules>
    <Cda_Customproductlist>
      <version>0.0.1</version>
    </Cda_Customproductlist>
  </modules>
  <frontend>
    <routers>
     <customproductlist>
        <use>standard</use>
          <args>
            <module>Cda_Customproductlist</module>
            <frontName>customproductlist</frontName>
          </args>
      </customproductlist> 
    </routers>
	<layout>
	  <updates>
		<customproductlist>
		  <file>customproductlist.xml</file>
		</customproductlist>
	  </updates>
	</layout>
  </frontend>
  <global>
    <helpers>
      <customproductlist>
        <class>Cda_Customproductlist_Helper</class>
      </customproductlist>
    </helpers>
	<blocks>
	  <customproductlist>
		<class>Cda_Customproductlist_Block</class>
	  </customproductlist>
	</blocks>
  </global>
</config> 