<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Oye_Checkout>
            <version>0.1.3</version>
        </Oye_Checkout>
    </modules>
    <global>
        <fieldsets>
        </fieldsets>
        <rewrite>
            <oyecheckout_onepage>
                <from><![CDATA[#^/checkout/onepage/#]]></from>
                <to>/oyecheckout/onepage/</to>
            </oyecheckout_onepage>
        </rewrite>
        <models>
            <oyecheckout>
                <class>Oye_Checkout_Model</class>
                <resourceModel>oyecheckout_resource</resourceModel>
            </oyecheckout>
            <oyecheckout_resource>
                <class>Oye_Checkout_Model_Resource</class>
                <entities></entities>
            </oyecheckout_resource>
            <checkout>
                <rewrite>
                	<type_onepage>Oye_Checkout_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <resources>
             <oyecheckout_setup>
                <setup>
                    <module>Oye_Checkout</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                   <use>core_setup</use>
               </connection>
            </oyecheckout_setup>
            <oyecheckout_write>
                <connection>
                    <use>core_setup</use>
                </connection>
            </oyecheckout_write>
            <oyecheckout_read>
                <connection>
                    <use>core_setup</use>
                </connection>
            </oyecheckout_read>
        </resources>
        <blocks>
            <oyecheckout>
                <class>Oye_Checkout_Block</class>
            </oyecheckout>
        </blocks>
        <helpers>
            <oyecheckout>
                <class>Oye_Checkout_Helper</class>
            </oyecheckout>
        </helpers>
        <events>
            <core_block_abstract_to_html_before>
				<observers>
					<oyecheckout>
						<type>singleton</type>
						<class>Oye_Checkout_Model_Observer</class>
						<method>getDefaultCheckoutUpdate</method>
					</oyecheckout>
				</observers>
            </core_block_abstract_to_html_before>
            <checkout_cart_add_product_complete>
                <observers>
                    <oyecheckout>
                        <type>singleton</type>
                        <class>Oye_Checkout_Model_Observer</class>
                        <method>productAfterAddToCart</method>
                    </oyecheckout>
                </observers>
            </checkout_cart_add_product_complete>
            <controller_action_layout_load_before>
                <observers>
                    <oyecheckout_v2>
                        <class>Oye_Checkout_Model_Observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </oyecheckout_v2>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <adminhtml>
        <menu></menu>
        <acl></acl>
        <events></events>
        <translate>
        	<modules>
                <Oye_Checkout>
                    <files>
                        <default>Oye_Checkout_Adminhtml.csv</default>
                    </files>
                </Oye_Checkout>
            </modules>
        </translate>
        <layout>
            <updates>
                <oyecheckout>
                    <file>oyecheckout.xml</file>
                </oyecheckout>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <oyecheckout>
                <use>standard</use>
                <args>
                    <module>Oye_Checkout</module>
                    <frontName>oyecheckout</frontName>
                </args>
            </oyecheckout>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
                        <oyecheckout before="Mage_Checkout">Oye_Checkout</oyecheckout>
                    </modules>
                </args>
            </checkout>
         </routers>
        <translate>
        	<modules>
                <Oye_Checkout>
                    <files>
                        <default>Oye_Checkout.csv</default>
                    </files>
                </Oye_Checkout>
            </modules>
        </translate>
        <layout>
            <updates>
                <oyecheckout>
                    <file>oyecheckout.xml</file>
                </oyecheckout>
            </updates>
        </layout>
    </frontend>
    <default>
        <oyecheckout>
            <settings>
                <type>1</type>
            </settings>
        </oyecheckout>
    </default>
</config>
