<?xml version="1.0"?>
<config>
    <modules>
        <Cda_Faayaapi>
            <version>0.1.0</version>
        </Cda_Faayaapi>
    </modules>
   <global>
        <models>
            <faayaapi>
                <class>Cda_Faayaapi_Model</class>
            </faayaapi>
        </models>
        <helpers>
            <faayaapi>
                <class>Cda_Faayaapi_Helper</class>
            </faayaapi>
        </helpers>
    </global>
</config>