<?xml version="1.0"?>
<config>
    <modules>
        <MageWorkshop_CommentOnReview>
            <version>1.0.0</version>
        </MageWorkshop_CommentOnReview>
    </modules>

    <global>
        <blocks>
            <mageworkshop_commentonreview>
                <class>MageWorkshop_CommentOnReview_Block</class>
            </mageworkshop_commentonreview>
        </blocks>
        <helpers>
            <mageworkshop_commentonreview>
                <class>MageWorkshop_CommentOnReview_Helper</class>
            </mageworkshop_commentonreview>
        </helpers>
        <models>
            <mageworkshop_commentonreview>
                <class>MageWorkshop_CommentOnReview_Model</class>
                <resourceModel>mageworkshop_commentonreview_resource</resourceModel>
            </mageworkshop_commentonreview>
            <mageworkshop_commentonreview_resource>
                <class>MageWorkshop_CommentOnReview_Model_Resource</class>
            </mageworkshop_commentonreview_resource>
        </models>
        <resources>
            <mageworkshop_commentonreview_setup>
                <setup>
                    <module>MageWorkshop_CommentOnReview</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </mageworkshop_commentonreview_setup>
        </resources>
        <template>
            <email>
                <mageworkshop_commentonreview_email_admin_notify_template translate="label" module="mageworkshop_commentonreview">
                    <label>Admin Notification after post Reply (MageWorkshop)</label>
                    <file>mageworkshop/commentonreview/reply_new_to_admin.html</file>
                    <type>html</type>
                </mageworkshop_commentonreview_email_admin_notify_template>
                <mageworkshop_commentonreview_email_customer_notify_template translate="label" module="mageworkshop_commentonreview">
                    <label>Customer Notification after post Reply (MageWorkshop)</label>
                    <file>mageworkshop/commentonreview/reply_new_to_customer.html</file>
                    <type>html</type>
                </mageworkshop_commentonreview_email_customer_notify_template>
            </email>
        </template>

        <events>
            <mageworkshop_modules_before_load>
                <observers>
                    <mageworkshop_commentonreview>
                        <type>singleton</type>
                        <class>MageWorkshop_CommentOnReview_Model_Observer</class>
                        <method>checkIfModuleEnabled</method>
                    </mageworkshop_commentonreview>
                </observers>
            </mageworkshop_modules_before_load>
            <mageworkshop_module_enable>
                <observers>
                    <mageworkshop_commentonreview>
                        <type>singleton</type>
                        <class>MageWorkshop_CommentOnReview_Model_Observer</class>
                        <method>enableModule</method>
                    </mageworkshop_commentonreview>
                </observers>
            </mageworkshop_module_enable>
            <mageworkshop_module_uninstall>
                <observers>
                    <mageworkshop_commentonreview>
                        <type>singleton</type>
                        <class>mageworkshop_commentonreview/observer</class>
                        <method>uninstallModule</method>
                    </mageworkshop_commentonreview>
                </observers>
            </mageworkshop_module_uninstall>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mageworkshop_commentonreview>
                    <file>mageworkshop/commentonreview.xml</file>
                </mageworkshop_commentonreview>
            </updates>
        </layout>
        <translate>
            <modules>
                <mageworkshop_commentonreview>
                    <files>
                        <default>MageWorkshop_CommentOnReview.csv</default>
                    </files>
                </mageworkshop_commentonreview>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_mageworkshop_commentonreview>
                <observers>
                    <mageworkshop_detailedreview>
                        <type>singleton</type>
                        <class>mageworkshop_commentonreview/observer</class>
                        <method>adminSystemConfigChangedSectionMageworkshopCommentonreview</method>
                    </mageworkshop_detailedreview>
                </observers>
            </admin_system_config_changed_section_mageworkshop_commentonreview>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageworkshop_commentonreview before="Mage_Adminhtml">MageWorkshop_CommentOnReview_Adminhtml</mageworkshop_commentonreview>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <mageworkshop_commentonreview>
                <use>standard</use>
                <args>
                    <module>MageWorkshop_CommentOnReview</module>
                    <frontName>commentonreview</frontName>
                </args>
            </mageworkshop_commentonreview>
        </routers>

        <layout>
            <updates>
                <mageworkshop_commentonreview>
                    <file>mageworkshop/commentonreview.xml</file>
                </mageworkshop_commentonreview>
            </updates>
        </layout>

        <events>
            <commentonreview_send_new_reply_email_to_admin>
                <observers>
                    <mageworkshop_commentonreview>
                        <type>singleton</type>
                        <class>mageworkshop_commentonreview/observer</class>
                        <method>sendNewReplyEmailToAdmin</method>
                    </mageworkshop_commentonreview>
                </observers>
            </commentonreview_send_new_reply_email_to_admin>
            <commentonreview_send_new_reply_email_to_customer>
                <observers>
                    <mageworkshop_commentonreview>
                        <type>singleton</type>
                        <class>mageworkshop_commentonreview/observer</class>
                        <method>sendNewReplyEmailToCustomer</method>
                    </mageworkshop_commentonreview>
                </observers>
            </commentonreview_send_new_reply_email_to_customer>
        </events>

        <translate>
            <modules>
                <mageworkshop_commentonreview>
                    <files>
                        <default>MageWorkshop_CommentOnReview.csv</default>
                    </files>
                </mageworkshop_commentonreview>
            </modules>
        </translate>
    </frontend>

    <default>
        <mageworkshop_commentonreview>
            <settings>
                <enable>1</enable>
                <expander>2</expander>
                <min_symbols>1</min_symbols>
                <max_symbols>2000</max_symbols>
                <nickname_suffix>@</nickname_suffix>
                <auto_approve>1</auto_approve>
            </settings>
            <captcha>
                <enabled>0</enabled>
            </captcha>
            <email_admin_notify>
                <enabled>1</enabled>
                <sender>general</sender>
                <receiver>general</receiver>
                <template>mageworkshop_commentonreview_email_admin_notify_template</template>
                <copy_method>bcc</copy_method>
            </email_admin_notify>
            <email_customer_notify>
                <enabled>0</enabled>
                <sender>general</sender>
                <template>mageworkshop_commentonreview_email_customer_notify_template</template>
            </email_customer_notify>
        </mageworkshop_commentonreview>
    </default>
</config>
