<?xml version="1.0"?>
<config>
    <modules>
        <Faaya_Deleteapi>
            <version>0.1.0</version>
        </Faaya_Deleteapi>
    </modules>
   <global>
        <models>
            <deleteapi>
                <class>Faaya_Deleteapi_Model</class>
            </deleteapi>
        </models>
        <helpers>
            <deleteapi>
                <class>Faaya_Deleteapi_Helper</class>
            </deleteapi>
        </helpers>
    </global>
</config>