//colors
$white: #ffffff;
$color_curious_blue_approx: #3399cc;
$color_storm_dust_approx: #636363;
$color_sea_buckthorn_approx: #f6a828;
$color_romance_approx: #fefefe;

//urls
$url_0: url(../../../images/detailedreview/search.png);
$url_1: url(../../../images/detailedreview/helpful-rwd.png);
$url_2: url(../../../images/detailedreview/unhelpful-rwd.png);
$url_social_icons_sprite: url(../../../images/detailedreview/dr_social_icons_sprite.png);

.drw-gutter-sizer {
  width: 2%;
}
.drw-grid-sizer {
  width: 49%;
  margin-bottom: 10px;
}
.drw-grid-sizer.image {
  width: 23.5%;
}
.drw-grid-item {
  width: 49%;
  display: inline-block;
  padding: 0 15px;
  vertical-align: top;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 20px;
  -moz-box-shadow: 0px 3px 8px rgba(100,100,100,0.3);
  -webkit-box-shadow: 0px 3px 8px rgba(100,100,100,0.3);
  box-shadow: 0px 3px 8px rgba(100,100,100,0.3);
}
.drw-grid-item.image {
  width: 23.5%;
}
.drw-item-info {
  margin-top: 20px;
  .drw-review-dt {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
  .drw-review-dt.image {
    width: 45%;
  }
  .drw-review-dd {
    clear: both;
    .drw-social-share {
      width: auto;
      height: 23px;
      .drw-share-fb {
        float: left;
        cursor: pointer;
        background: $url_social_icons_sprite no-repeat 0 0;
        width: 25px;
        height: 24px;

        &:hover {
          background-position: 0 -29px;
        }
      }
    }
    .drw-social-share.image {
      width: 100%;
    }
  }
  .drw-social-share {
    .drw-share-fb {
      float: left;
      margin-right: 7px;
    }
    .drw-share-twitter {
      //width: 22px;
      float: left;

      .twitter-share-button {
        display: block;
        background: $url_social_icons_sprite no-repeat -30px 0;
        width: 25px;
        height: 24px;

        &:hover {
          background-position: -30px -29px;
        }
      }
    }
    .drw-share-pinterest {
      float: left;

      .link-pinterest {
        display: block;
        background: $url_social_icons_sprite no-repeat -61px 0;
        width: 25px;
        height: 24px;

        &:hover {
          background-position: -61px -29px;
        }
      }
    }

    &.image {
      .drw-share-twitter {
        margin-right: 7px;
      }
    }
  }
}

.drw-box {
  &.image {
    .drw-item-info {
      .drw-review-dd {
        display: block;
      }
    }
  }

}

.drw-loader {
  display: none;
  text-align: center;
  margin: 15px 0;
  &.show {
    display: block;
  }
  img {
    margin: 0 auto;
  }
}
#drw-ajax-load-grid {
  height: 0;
  margin: 0;
  padding: 0;
}
.drw-form-filters-wrapper {
  clear: both;
  margin-bottom: 20px;
  #drw-review-search-mini-form {
    width: 35%;
    margin: 0 auto;
  }
  .form-search {
    position: relative;
    margin-top: 15px;
    input[type=text] {
      width: 100%;
      height: 40px;
      font-size: 14px;
      padding-right: 38px;
    }
  }
  .drw-search-review-button {
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    padding: 0 5px;
    cursor: pointer;
    background: $url_0 no-repeat;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}
#drw-end-reviews {
  width: 100%;
  text-align: center;
}
.drw-helpful-block {
  float: right;
  margin-top: -7px;
  .drw-rating-wrapper {
    float: left;
    width: auto;
    min-width: 60px;
    .drw-review-vote-rating {
      float: left;
      display: block;
      width: 27px;
      height: 30px;
      margin-right: 3px;
      padding: 1px 0 0 26px;
      text-decoration: none;
      line-height: 28px;
    }
    .helpful-btn {
      background: $url_1 no-repeat;
    }
    .unhelpful-btn {
      background: $url_2 no-repeat;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    .drw-helpful-qty {
      color: $color_curious_blue_approx;
    }
    .drw-unhelpful-qty {
      color: $color_storm_dust_approx;
    }
    .voting-qty {
      padding-right: 6px;
      font: normal 14px/1.55 "Helvetica Neue", Verdana, Arial, sans-serif;
      margin-left: 0;
      line-height: 32px;
      text-align: left;
    }
    a.drw-review-vote-rating span {
      font: normal 11px/1.55 "Helvetica Neue", Verdana, Arial, sans-serif;
      color: $white;
    }
  }
}
.drw-share-email {
  float: left;
  margin-left: 6px;
  padding-top: 1px;
  cursor: pointer;
  background: $url_social_icons_sprite no-repeat -93px 0;
  width: 25px;
  height: 24px;

  &:hover {
    background-position: -93px -29px;
  }
}
.ui-widget-content {
  background: $color_romance_approx !important;
}
.drw-container {
  .drw-nickname {
    font-size: 13px;
    padding-left: 1px;
  }

  .drw-box {
    padding: 10px 20px;
    &.image {
      padding: 10px 10px;
    }

    .review-by-wrapper {
      padding-right: 10px;
    }
  }

  .clearboth {
    clear: both;
  }
}
.drw-no-reviews {
  text-align: center;
}
.drw-next-page {
  display: none;
}

.drw-show {
  visibility: visible;
}

@media only screen and (max-width: 1600px) {
  .drw-grid-sizer {
    width: 49%;
  }
  .drw-grid-sizer.image {
    width: 23.5%;
  }
  .drw-grid-item {
    width: 49%;
  }
  .drw-grid-item.image {
    width: 23.5%;
  }
}


@media only screen and (max-width: 1024px) {
  .drw-grid-sizer {
    width: 49%;
  }
  .drw-grid-sizer.image {
    width: 32%;
  }
  .drw-grid-item {
    width: 49%;
  }
  .drw-grid-item.image {
    width: 32%;
  }
  .drw-form-filters-wrapper #drw-review-search-mini-form {
    width: 50%;
  }

}

@media only screen and (max-width: 770px) {
  .drw-grid-sizer {
    width: 100%;
  }
  .drw-grid-sizer.image {
    width: 49%;
  }
  .drw-grid-item {
    width: 100%;
  }
  .drw-grid-item.image {
    width: 49%;
  }
  .drw-form-filters-wrapper #drw-review-search-mini-form {
    width: 75%;
  }
}
@media only screen and (max-width: 480px) {
  .drw-grid-sizer {
    width: 100%;
  }
  .drw-grid-sizer.image {
    width: 100%;
  }
  .drw-grid-item {
    width: 100%;
  }
  .drw-grid-item.image {
    width: 100%;
  }
  .drw-form-filters-wrapper #drw-review-search-mini-form {
    width: 92%;
  }
  .drw-email-popup-wrapper {
    .email-popup-wrapper {
      width: 100%;
    }
  }

  .drw-grid-item.image {
    .drw-item-info {
      .drw-review-dt.image {
        width: 100%;
      }

      .drw-helpful-block {
        float: left;
        margin: 5px 0;
      }
    }
  }
}

.drw-image-review img {
  width: 100%;
}
.ui-dialog > .ui-widget-header {
  background: $color_sea_buckthorn_approx;
}
.ui-button-icon-only .ui-button-text {
  padding: 0 !important;
}

.drw-container {
  .ratings-table {
    display: inline-block;

    .rating-box {
      display: inline-block;
      vertical-align: text-top;

      .rating {
      }
    }

    .rating-name {
      vertical-align: bottom;
      text-transform: capitalize;
      font-weight: bold;
    }
  }
  .drw-grid-item {
    &.image {
      background: #ffffff;
      .ratings-table {
        display: block;
        height: 20px;
        margin-bottom: 10px;
        .rating-box {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

.all-review-wall-wrapper {
  .drw-container {
    .drw-box {
      .drw-item-info {
        .drw-review-dd {
          display: inline-block;
        }
      }
    }
  }
}

.image-review-wall-wrapper {
  .drw-container {
    .drw-title {
      display: block;
      padding-left: 1px;
      border-bottom: 1px solid #636363;
      color: #636363;
    }
  }
}

.drw-total-average-rating-wrapper {
  text-align: center;

  .ratings-table {
    display: inline-block;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .drw-grid-sizer {
    &.image {
      width: 98%;
    }
  }

  .drw-grid-item{
    &.image {
      width: 95%;
      .drw-item-info {
        .drw-review-dd {
          float: right;
          margin-top: 8px;
          clear: none;
        }
      }

    }
  }
}
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2) {
  .drw-grid-sizer {
    &.image {
      width: 98%;
    }
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {
  .drw-grid-sizer {
    &.image {
      width: 50%;
    }
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
  .drw-grid-sizer {
    &.image {
      width: 33.333%;
    }
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .drw-grid-sizer {
    &.image {
      width: 50%;
    }
  }
}
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2) {
  .drw-grid-sizer {
    &.image {
      width: 50%;
    }
  }
}

#drw-end-reviews {
  position: absolute;
  top: 100%;
  left: 0;
}
