<?xml version="1.0"?>
<config>
    <modules>
        <Cda_Featuredproduct>
            <version>1.0.0</version>
        </Cda_Featuredproduct>
    </modules>
	<frontend>
		<translate>
            <modules>
                <Cda_Featuredproduct>
                    <files>
                        <default>Cda_Featuredproduct.csv</default>
                    </files>
                </Cda_Featuredproduct>
            </modules>
        </translate>
	</frontend>
    <global>
        <blocks>
            <featuredproduct>
                <class>Cda_Featuredproduct_Block</class>
            </featuredproduct>
        </blocks>
		<helpers>
			 <featuredproduct>
                <class>Cda_Featuredproduct_Helper</class>
            </featuredproduct>
		</helpers>
    </global>
</config>