<?xml version="1.0"?>
<config>
    <modules>
        <Faaya_Cancelapi>
            <version>0.1.0</version>
        </Faaya_Cancelapi>
    </modules>
   <global>
        <models>
            <cancelapi>
                <class>Faaya_Cancelapi_Model</class>
            </cancelapi>
        </models>
        <helpers>
            <cancelapi>
                <class>Faaya_Cancelapi_Helper</class>
            </cancelapi>
        </helpers>
    </global>
</config>