<?xml version="1.0"?>
<config>
    <modules>
        <Faaya_Layernavigation>
            <version>1.0.0</version>
        </Faaya_Layernavigation>
    </modules>
    <frontend>
        <routers>
            <layernavigation>
                <use>standard</use>
                <args>
                    <module>Faaya_Layernavigation</module>
                    <frontName>layernavigation</frontName>
                </args>
            </layernavigation>
        </routers>
        <layout>
            <updates>
                <layernavigation>
                     <file>layernavigation.xml</file>
                 </layernavigation>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <layernavigation>
                <class>Faaya_Layernavigation_Model</class>
                <resourceModel>layernavigation_mysql4</resourceModel>
            </layernavigation>
        </models>
        <helpers>
            <layernavigation>
                <class>Faaya_Layernavigation_Helper</class>
            </layernavigation>
        </helpers>
        <blocks>
            <layernavigation>
                <class>Faaya_Layernavigation_Block</class>
            </layernavigation>
        </blocks>
        <!--<catalog>
            <rewrite>
                <product_list>Cda_Wizard_Block_Product_List</product_list>
            </rewrite>
        </catalog>   -->
    </global>
</config>