/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* line 6, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .clear {
  clear: both;
}
/* line 11, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-action .reply-button {
  cursor: pointer;
  color: #3399CC;
}
/* line 16, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-expander {
  cursor: pointer;
  color: #3399CC;
  display: none;
  margin-bottom: 10px;
}
/* line 23, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-expander.collapse .expand {
  display: none;
}
/* line 27, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-expander.collapse .collapse {
  display: inline;
}
/* line 32, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-expander.show {
  display: inline-block;
}
/* line 37, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-expander.expand .collapse {
  display: none;
}
/* line 41, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-expander.expand .expand {
  display: inline;
}
/* line 47, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list {
  margin-left: 20px;
  margin-top: 10px;
}
/* line 51, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list > .reply {
  margin-bottom: 15px;
  display: none;
}
/* line 55, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list > .reply.expanded {
  display: list-item;
}
/* line 61, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list.open > .reply {
  display: list-item;
}
/* line 67, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list.open + .reply-expander .admin-response-icon {
  display: none;
}
/* line 73, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap {
  font-size: 14px;
}
/* line 76, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li {
  float: left;
}
/* line 79, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.avatar {
  width: 50px;
  float: left;
  height: 50px;
}
/* line 84, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info {
  width: 86%;
  margin-bottom: 10px;
}
/* line 88, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .admin-response {
  word-break: break-all;
}
/* line 92, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-author-date {
  margin-bottom: 10px;
}
/* line 95, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-author-date .reply-author {
  cursor: pointer;
}
/* line 98, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-author-date .reply-author.title {
  cursor: default;
}
/* line 101, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-author-date .reply-date-wrap {
  margin-left: 10px;
}
/* line 104, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-author-date .reply-date-wrap .reply-date {
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
  color: #636363;
  font-size: 12px;
}
/* line 112, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-detail {
  margin-bottom: 10px;
  word-break: break-all;
}
/* line 116, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-detail span.reply-comment-nickname {
  color: #424242;
  font-weight: 500;
}
/* line 122, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-action-wrapper {
  height: 32px;
}
/* line 125, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-action-wrapper .reply-action {
  float: left;
  margin: 7px 10px 0 0;
}
/* line 130, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-action-wrapper .reply-helpful {
  float: none;
  clear: none;
  padding-bottom: 0;
}
/* line 135, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-action-wrapper .reply-helpful .rating-wrapper {
  float: left;
  min-width: 50px;
}
/* line 139, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-action-wrapper .reply-helpful .rating-wrapper a.review-vote-rating {
  float: left;
  display: block;
  width: 29px;
  height: 30px;
  margin-right: 3px;
  padding: 1px 0 0 0;
  text-decoration: none;
  line-height: 28px;
  cursor: pointer;
}
/* line 151, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-action-wrapper .reply-helpful .rating-wrapper a.helpful-btn {
  background: url(../../../images/detailedreview/helpful-rwd.png) no-repeat;
}
/* line 155, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-action-wrapper .reply-helpful .rating-wrapper a.unhelpful-btn {
  background: url(../../../images/detailedreview/unhelpful-rwd.png) no-repeat;
}
/* line 159, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-action-wrapper .reply-helpful .rating-wrapper .voting-qty {
  padding-right: 6px;
  font: normal 14px/1.55 "Helvetica Neue", Verdana, Arial, sans-serif;
  margin-left: 0;
  line-height: 32px;
  text-align: left;
}
/* line 167, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-action-wrapper .reply-helpful .rating-wrapper .helpful-qty.voting-qty {
  color: #3399CC;
}
/* line 171, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-action-wrapper .reply-helpful .rating-wrapper .unhelpful-qty.voting-qty {
  color: #636363;
}
/* line 178, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li .abuse-action {
  width: 10px;
  float: right;
  height: 50px;
  position: relative;
}
/* line 184, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li .abuse-action .complaint-icon {
  width: 10px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}
/* line 195, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li .report-button-wrapper {
  display: none;
}
/* line 198, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li .report-button-wrapper.show-ask {
  position: absolute;
  display: inline-block;
  width: 176px;
  right: 18px;
  top: 0;
  z-index: 99;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #fff;
  margin: 0;
  white-space: nowrap;
  background: #f4f4f4;
}
/* line 212, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap > li .report-button-wrapper.show-ask .report-abuse {
  cursor: pointer;
}
/* line 219, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .reply-list .reply-wrap:after {
  clear: both;
  content: '';
  display: block;
}
/* line 227, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .reply-list-wrap .admin-response-icon {
  background: url(/media/mageworkshop/commentonreview/admin_response.png) no-repeat;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-left: 10px;
  cursor: help;
}
/* line 237, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .submit-button, #customer-reviews .cancel-button {
  display: inline-block;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  margin: 0 10px 0 0;
  float: right;
}
/* line 253, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .submit-button {
  background: #3399CC;
  border: 1px solid #3399CC;
  color: #FFFFFF;
  margin: 0;
}
/* line 260, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
#customer-reviews .cancel-button {
  background: #f8f8f8;
  border: 1px solid #d3d3d3;
  color: #000000;
}

/* line 268, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper {
  margin-bottom: 10px;
}
/* line 272, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper #reply-form .reply-captcha-wrapper {
  width: 257px;
  float: right;
  margin-bottom: 30px;
  position: relative;
}
/* line 278, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper #reply-form .reply-captcha-wrapper #reply-grecaptcha {
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  -o-transform-origin: 0;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: 0 0;
  transform-origin: 0;
}
/* line 291, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper #reply-form .reply-captcha-wrapper .captcha-error {
  color: #df280a;
  font-size: 13px;
  font-weight: 600;
  position: absolute;
  bottom: -15px;
}
/* line 301, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper .reply-comment-wrapper {
  position: relative;
}
/* line 304, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper .reply-comment-wrapper .reply-comment {
  width: 100%;
  height: 75px;
  border: 1px solid silver;
  overflow: auto;
  margin: 15px 0 15px 0;
  padding: 5px;
  white-space: pre-wrap;
}
/* line 313, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper .reply-comment-wrapper .reply-comment:focus {
  border: 1px solid #3399CC;
  outline: 0;
}
/* line 318, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper .reply-comment-wrapper .reply-comment.error-detail {
  border: 1px solid #df280a;
}
/* line 322, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper .reply-comment-wrapper .reply-comment span.reply-comment-nickname {
  color: #424242;
  font-weight: 500;
}
/* line 328, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper .reply-comment-wrapper .reply-message-wrapper {
  margin-bottom: 10px;
}
/* line 332, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper .reply-comment-wrapper .reply-message-wrapper .reply-message li {
  margin: 5px 0 0;
  color: #df280a;
  font-size: 13px;
  font-weight: 600;
}
/* line 342, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-wrapper .reply-button-wrapper {
  height: 30px;
  margin-bottom: 20px;
  clear: both;
}

/* line 349, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-hide {
  display: none;
}

/* line 353, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
.reply-show {
  display: block;
}

@media only screen and (max-width: 979px) {
  /* line 363, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  #customer-reviews .submit-button, #customer-reviews .cancel-button {
    padding: 7px 20px;
  }
  /* line 371, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  #customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info {
    width: 84%;
  }
  /* line 374, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  #customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info .reply-author-date .reply-date-wrap {
    display: block;
    margin-left: 0;
  }
}
@media only screen and (max-width: 599px) {
  /* line 401, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  #customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info {
    width: 80%;
  }
}
@media only screen and (max-width: 479px) {
  /* line 417, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  #customer-reviews .reply-list-wrap .reply-list .reply-wrap > li.reply-info {
    width: 73%;
  }
  /* line 424, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  #customer-reviews .submit-button, #customer-reviews .cancel-button {
    width: 100%;
    padding: 13px 24px;
    font-size: 18px;
    font-weight: 600;
  }
  /* line 431, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  #customer-reviews .cancel-button {
    margin: 20px 0;
  }
  /* line 436, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  #customer-reviews .complaint-list-wrapper.complaint-show {
    margin-left: 45px;
  }
  /* line 441, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  #customer-reviews .complaint-list-wrapper .complaint-action .submit-button, #customer-reviews .complaint-list-wrapper .complaint-action .cancel-button {
    padding: 13px 17px;
  }
  /* line 445, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  #customer-reviews .complaint-list-wrapper .complaint-action .cancel-button {
    margin: 20px 0 0 0;
  }
  /* line 452, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  #customer-reviews .complaint-list-wrapper .reply-message-wrapper .reply-message li {
    font-size: 12px;
  }

  /* line 463, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  .reply-wrapper #reply-form .reply-captcha-wrapper {
    width: 244px;
  }
  /* line 466, ../../../scss/mageworkshop/commentonreview/commentonreview_ver_3.1.5.scss */
  .reply-wrapper #reply-form .reply-captcha-wrapper #reply-grecaptcha {
    -moz-transform: scale(0.81);
    -ms-transform: scale(0.81);
    -o-transform: scale(0.81);
    -webkit-transform: scale(0.81);
    transform: scale(0.81);
  }
}
