<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Multiwishlist>
            <version>1.0.1</version>
        </Cminds_Multiwishlist>
    </modules>
    <global>
        <models>
            <wishlist>
                <rewrite>
                    <wishlist>Cminds_Multiwishlist_Model_Multiwishlist</wishlist>
                </rewrite>
            </wishlist>
            <cminds_multiwishlist>
                <class>Cminds_Multiwishlist_Model</class>
                <resourceModel>cminds_multiwishlist_resource</resourceModel>
            </cminds_multiwishlist>
            <cminds_multiwishlist_resource>
                <class>Cminds_Multiwishlist_Model_Resource</class>
                <entities>
                    <multiwishlist>
                        <table>cminds_multiwishlist</table>
                    </multiwishlist>
                    <item>
                        <table>cminds_multiwishlist_item</table>
                    </item>
                    <item_option>
                        <table>cminds_multiwishlist_item_option</table>
                    </item_option>
                </entities>
            </cminds_multiwishlist_resource>
            <adminhtml>
                <rewrite>
                    <sales_order_create>Cminds_Multiwishlist_Model_create</sales_order_create>
                </rewrite>
            </adminhtml>
        </models>
        <resources>
            <cminds_multiwishlist_setup>
                <setup>
                    <module>Cminds_Multiwishlist</module>
                </setup>
            </cminds_multiwishlist_setup>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_create_sidebar_wishlist>Cminds_Multiwishlist_Block_Sales_Order_Create_Sidebar_Wishlist</sales_order_create_sidebar_wishlist>
                </rewrite>
            </adminhtml>
            <cminds_multiwishlist>
                <class>Cminds_Multiwishlist_Block</class>
            </cminds_multiwishlist>
        </blocks>
        <helpers>
            <cminds_multiwishlist>
                <class>Cminds_Multiwishlist_Helper</class>
            </cminds_multiwishlist>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <cminds_multiwishlist>
                    <file>cminds_multiwishlist.xml</file>
                </cminds_multiwishlist>
            </updates>
        </layout>
        <routers>
            <cminds_multiwishlist>
                <use>standard</use>
                <args>
                    <module>Cminds_Multiwishlist</module>
                    <frontName>multiwishlist</frontName>
                </args>
            </cminds_multiwishlist>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <cminds_multiwishlist>
                    <file>cminds_multiwishlist.xml</file>
                </cminds_multiwishlist>
            </updates>
        </layout>
        <routers>
            <cminds_multiwishlist>
                <use>standard</use>
                <args>
                    <module>Cminds_Multiwishlist</module>
                    <frontName>multiwishlist</frontName>
                </args>
            </cminds_multiwishlist>
        </routers>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cminds_multiwishlist before="Mage_Adminhtml">Cminds_Multiwishlist_Adminhtml</cminds_multiwishlist>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>