<?xml version="1.0"?>
<config>
    <sections>
        <wishlist>
            <groups>
                <cminds_multiwishilst>
                    <label>Cminds Multi Wishlist</label>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enable Multi Wishlist</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <choose_lowest_price>
                            <label>Automatically Fill up required Product Options at adding to Cart from Wishlist</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[It's about Bundle Products. During add Bundles items to Cart automatically choose the item with best price (if wasn't configured yet)]]>
                            </comment>
                            <depends><enabled>1</enabled></depends>
                        </choose_lowest_price>
                    </fields>
                </cminds_multiwishilst>
            </groups>
        </wishlist>
    </sections>
</config>
