<?xml version="1.0"?>
<config>
  <modules>
    <Cda_Ajaxnewsletter>
      <version>1.0.0</version>
    </Cda_Ajaxnewsletter>
  </modules>
  <frontend>
    <routers>
      <ajaxnewsletter>
        <use>standard</use>
          <args>
            <module>Cda_Ajaxnewsletter</module>
            <frontName>ajaxnewsletter</frontName>
          </args>
      </ajaxnewsletter>
    </routers>
	</frontend>
  <global>
    <helpers>
      <ajaxnewsletter>
        <class>Cda_Ajaxnewsletter_Helper</class>
      </ajaxnewsletter>
    </helpers>
	</global>
</config> 