/*Reset rules for Porto theme*/
.reviews-wrapper #feedback .review-top .ratings-and-size .review-right .separate-rating .rating-box:before,
.reviews-wrapper #feedback #customer-reviews .ratings-table .rating-box .rating:before,
.reviews-wrapper #feedback #customer-reviews .ratings-table .rating-box:before,
.reviews-wrapper #feedback .review-top .average-rating .rating-stars-views .rating-box:before,
.reviews-wrapper #feedback .review-top .average-rating .rating-box .rating:before,
.reviews-wrapper #feedback .review-top .ratings-and-size .review-right .separate-rating .rating-box .rating:before {
    display: none;
}

body .reviews-wrapper #feedback .review-top .ratings-and-size .review-right .separate-rating .rating-box {
    text-indent: 0;
    font-size: 12px;
    line-height: 18px;
    width: 69px;
    height: 15px;
}

.reviews-wrapper #feedback .review-top .ratings-and-size .review-right .separate-rating .rating-box .rating {
    height: 15px;
}

.reviews-wrapper #feedback .review-top .ratings-and-size .review-right .separate-rating .rating-box:before,
.reviews-wrapper #feedback #customer-reviews .ratings-table .rating-box .rating:before,
.reviews-wrapper #feedback #customer-reviews .ratings-table .rating-box:before,
.reviews-wrapper #feedback .review-top .average-rating .rating-stars-views .rating-box:before,
.reviews-wrapper #feedback .review-top .average-rating .rating-box .rating:before,
.reviews-wrapper #feedback .review-top .ratings-and-size .review-right .separate-rating .rating-box .rating:before  {
    display: none;
}

body .reviews-wrapper #feedback .review-top .ratings-and-size .review-right .separate-rating .rating-box {
    text-indent: 0;
    font-size: 12px;
    line-height: 18px;
    width: 69px;
    height: 15px;
}

body .reviews-wrapper #feedback .review-top .ratings-and-size .review-right .separate-rating .rating-box .rating {
    height: 15px;
}