<?xml version="1.0"?>
<config>
    <modules>
        <MageWorkshop_ImportExportReview>
            <version>0.5.0</version>
        </MageWorkshop_ImportExportReview>
    </modules>

    <global>
        <models>
            <mageworkshop_importexportreview>
                <class>MageWorkshop_ImportExportReview_Model</class>
                <resourceModel>mageworkshop_importexportreview_resource</resourceModel>
            </mageworkshop_importexportreview>
            <mageworkshop_importexportreview_resource>
                <class>MageWorkshop_ImportExportReview_Model_Resource</class>
                <entities>
                    <profile>
                        <table>review_import_export_profile</table>
                    </profile>
                    <sync>
                        <table>review_sync_store</table>
                    </sync>
                    <history>
                        <table>review_sync_history</table>
                    </history>
                    <ratingMapping>
                        <table>review_import_export_rating_mapping</table>
                    </ratingMapping>
                </entities>
            </mageworkshop_importexportreview_resource>
        </models>
        <blocks>
            <mageworkshop_importexportreview>
                <class>MageWorkshop_ImportExportReview_Block</class>
            </mageworkshop_importexportreview>
            <mageworkshop_importexportreview_adminhtml>
                <class>MageWorkshop_ImportExportReview_Block_Adminhtml</class>
            </mageworkshop_importexportreview_adminhtml>
        </blocks>
        <helpers>
            <mageworkshop_importexportreview>
                <class>MageWorkshop_ImportExportReview_Helper</class>
            </mageworkshop_importexportreview>
        </helpers>
        <resources>
            <mageworkshop_importexportreview_setup>
                <setup>
                    <module>MageWorkshop_ImportExportReview</module>
                </setup>
            </mageworkshop_importexportreview_setup>
        </resources>
        <events>
            <review_save_before>
                <observers>
                    <mageworkshop_importexportreview>
                        <class>mageworkshop_importexportreview/observer</class>
                        <method>shareReviewBetweenWebsites</method>
                    </mageworkshop_importexportreview>
                    <mageworkshop_importexportreview_generate_unique_id>
                        <class>mageworkshop_importexportreview/observer</class>
                        <method>generateUniqueId</method>
                    </mageworkshop_importexportreview_generate_unique_id>
                </observers>
            </review_save_before>
            <review_save_after>
                <observers>
                    <mageworkshop_importexportreview_refresh_last_exported_id>
                        <class>mageworkshop_importexportreview/observer</class>
                        <method>refreshLastExportedId</method>
                    </mageworkshop_importexportreview_refresh_last_exported_id>
                </observers>
            </review_save_after>
            <mageworkshop_modules_before_load>
                <observers>
                    <mageworkshop_importexportreview>
                        <type>singleton</type>
                        <class>mageworkshop_importexportreview/observer</class>
                        <method>checkIfModuleEnabled</method>
                    </mageworkshop_importexportreview>
                </observers>
            </mageworkshop_modules_before_load>
            <mageworkshop_module_enable>
                <observers>
                    <mageworkshop_importexportreview>
                        <type>singleton</type>
                        <class>mageworkshop_importexportreview/observer</class>
                        <method>enableModule</method>
                    </mageworkshop_importexportreview>
                </observers>
            </mageworkshop_module_enable>
            <mageworkshop_module_uninstall>
                <observers>
                    <mageworkshop_importexportreview>
                        <type>singleton</type>
                        <class>mageworkshop_importexportreview/observer</class>
                        <method>uninstallModule</method>
                    </mageworkshop_importexportreview>
                </observers>
            </mageworkshop_module_uninstall>
        </events>
        <template>
            <email>
                <drie_fail_sync_email_template translate="label" module="mageworkshop_importexportreview">
                    <label>Review Synchronization Error Notification</label>
                    <file>mageworkshop/drie/review_sync_fail.html</file>
                    <type>text</type>
                </drie_fail_sync_email_template>
            </email>
        </template>
    </global>

    <crontab>
        <jobs>
            <drie_sync_reviews>
                <schedule>
                    <config_path>crontab/jobs/drie_sync/schedule/cron_expr</config_path>
                </schedule>
                <run>
                    <model>mageworkshop_importexportreview/cron::syncReviews</model>
                </run>
            </drie_sync_reviews>
        </jobs>
    </crontab>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageworkshop_importexportreview after="Mage_ImportExport_Adminhtml">MageWorkshop_ImportExportReview_Adminhtml</mageworkshop_importexportreview>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <mageworkshop_importexportreview>
                    <file>mageworkshop/importexportreview.xml</file>
                </mageworkshop_importexportreview>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageWorkshop_ImportExportReview>
                    <files>
                        <default>MageWorkshop_ImportExportReview.csv</default>
                    </files>
                </MageWorkshop_ImportExportReview>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <general>
            <file>
                <importexport_local_valid_paths>
                    <available>
                        <drie_sync_csv>var/drie/shared/*/*.csv</drie_sync_csv>
                        <!--<export_xml>var/export/*/*.xml</export_xml>-->
                        <!--<import_xml>var/import/*/*.xml</import_xml>-->
                    </available>
                </importexport_local_valid_paths>
                <bunch_size>100</bunch_size>
            </file>
        </general>
        <drie>
            <sync_settings>
                <sync_cron>0 9 * * *</sync_cron>
                <fails_limit>3</fails_limit>
            </sync_settings>
        </drie>

    </default>
</config>