<?xml version="1.0"?>
<config>
    <modules>
        <Cda_Wizard>
            <version>1.0.26</version>
        </Cda_Wizard>
    </modules>
    <frontend>
        <routers>
            <wizard>
                <use>standard</use>
                <args>
                    <module>Cda_Wizard</module>
                    <frontName>wizard</frontName>
                </args>
            </wizard>
            <checkout>
                 <args>
                     <modules>
                         <Cda_Wizard before="Mage_Checkout">Cda_Wizard</Cda_Wizard>
                     </modules>
                 </args>
             </checkout>
        </routers>
        <layout>
            <updates>
                <wizard>
                     <file>wizard.xml</file>
                 </wizard>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <catalog_product_save_after>
                <observers>
                    <product_save_after_observer>
                        <type>singleton</type>
                        <class>Cda_Wizard_Model_Observer</class>
                        <method>catalogProductSaveAfter</method>
                    </product_save_after_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_before>
                <observers>
                    <product_delete_after_observer>
                        <type>singleton</type>
                        <class>Cda_Wizard_Model_Observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </product_delete_after_observer>
                </observers>
            </catalog_product_delete_before>
        </events>
        <models>
            <wizard>
                <class>Cda_Wizard_Model</class>
                <resourceModel>wizard_mysql4</resourceModel>
            </wizard>
            <wizard_mysql4>
                <class>Cda_Wizard_Model_Mysql4</class>
                <entities>
                    <wizardattribute>
                        <table>wizardattribute</table>
                    </wizardattribute>
                    <wizardoptions>
                        <table>wizardoptions</table>
                    </wizardoptions>
                    <wizardoptionsmapping>
                        <table>wizardoptionsmapping</table>
                    </wizardoptionsmapping>
                    <wizardrelation>
                        <table>wizardrelation</table>
                    </wizardrelation>
                    <wizardmaster>
                        <table>wizardmaster</table>
                    </wizardmaster>
                    <wizardsize>
                        <table>wizardsize</table>
                    </wizardsize>
                </entities>
            </wizard_mysql4>
        </models>
        <resources>
            <cdawizard_setup>
                <setup>
                    <module>Cda_Wizard</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cdawizard_setup>
            <wizard_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wizard_write>
            <wizard_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wizard_read>
        </resources>
        <helpers>
            <wizard>
                <class>Cda_Wizard_Helper</class>
            </wizard>
        </helpers>
        <blocks>
            <wizard>
                <class>Cda_Wizard_Block</class>
            </wizard>
        </blocks>
        <page>
            <layouts>
                <wizardlayout module="page" translate="label">
                    <label>wizard</label>
                    <template>page/wizard.phtml</template>
                    <layout_handle>wizardlayout</layout_handle>
                </wizardlayout>
            </layouts>
        </page>
        <rewrite>
            <cda_wizard_sales_order_invoicecontroller>
                <from><![CDATA[#^/admin/sales_order_invoice/#]]></from>
                <to>/admin_wizard/sales_order_invoice/</to>
            </cda_wizard_sales_order_invoicecontroller>
            <cda_wizard_sales_order_shipmentcontroller>
                <from><![CDATA[#^/admin/sales_order_shipment/#]]></from>
                <to>/admin_wizard/sales_order_shipment/</to>
            </cda_wizard_sales_order_shipmentcontroller>
            <cda_wizard_sales_order_creditmemocontroller>
                <from><![CDATA[#^/admin/sales_order_creditmemo/#]]></from>
                <to>/admin_wizard/sales_order_creditmemo/</to>
            </cda_wizard_sales_order_creditmemocontroller>
        </rewrite>
    </global>
    <admin>
    <routers>
      <invoice>
        <use>admin</use>
        <args>
          <module>Cda_Wizard</module>
          <frontName>admin_wizard</frontName>
        </args>
      </invoice>
    </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <wizard>
                                            <title>Wizard - All</title>
                                        </wizard>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>