<?xml version="1.0"?>
<config>
    <modules>
        <Faaya_Orderapi>
            <version>1.0.2</version>
        </Faaya_Orderapi>
    </modules>
  <admin>
    <routers>
      <orderapi>
        <use>admin</use>
        <args>
          <module>Faaya_Orderapi</module>
          <frontName>orderapi</frontName>
        </args>
      </orderapi>
    </routers>
  </admin> 
   <adminhtml>
       <layout>
          <updates>
            <orderapi>
              <file>orderapi.xml</file>
            </orderapi>
          </updates>
        </layout>
  </adminhtml>       
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Faaya_Orderapi_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks> 
        <models>
            <orderapi>
                <class>Faaya_Orderapi_Model</class>
                <resourceModel>orderapi_mysql4</resourceModel>
            </orderapi>
            <orderapi_mysql4>
                <class>Faaya_Orderapi_Model_Mysql4</class>
                <entities>
                    <customerguestuser>
                        <table>customerguestuser</table>
                    </customerguestuser>
                </entities>
            </orderapi_mysql4>
        </models>
        <resources>
            <orderapi_setup>
                <setup>
                    <module>Faaya_Orderapi</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderapi_setup>
            <Faaya_Orderapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Faaya_Orderapi_write>
            <Faaya_Orderapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Faaya_Orderapi_read>
        </resources>
        <helpers>
            <orderapi>
                <class>Faaya_Orderapi_Helper</class>
            </orderapi>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <feed_sales_order_observer>
                        <type>singleton</type>
                        <class>Faaya_Orderapi_Model_Observer</class>
                        <method>exportorder</method>
                    </feed_sales_order_observer>
                </observers>
            </sales_order_place_after>
            <core_block_abstract_to_html_before>
              <observers>
                  <Faaya_Orderapi>
                      <class>Faaya_Orderapi_Model_Pdfobserver</class>
                      <method>orderPageButton</method>
                      <type>model</type>
                  </Faaya_Orderapi>
              </observers>
           </core_block_abstract_to_html_before>
        </events>
    </global>
</config>