<?xml version="1.0"?>
<config>
  <modules>
    <Faaya_Customshipping>
      <version>1.0.0</version>
    </Faaya_Customshipping>
  </modules>
  <frontend>
    <routers>
      <customshipping>
        <use>standard</use>
        <args>
          <module>Faaya_Customshipping</module>
          <frontName>customshipping</frontName>
        </args>
      </customshipping>
    </routers>    
  </frontend>
  <admin>
    <routers>
      <customshipping>
        <use>admin</use>
        <args>
          <module>Faaya_Customshipping</module>
          <frontName>customshipping</frontName>
        </args>
      </customshipping>
    </routers>
  </admin>
  <adminhtml>
    <menu>
      <customshipping module="customshipping">
        <title>Custom Shipping</title>
        <sort_order>100</sort_order>
        <children>
            <manage_customshipping_items translate="title">
                <title>Manage Customshipping Items</title>
                <action>customshipping/adminhtml_customshipping</action>
                <sort_order>0</sort_order>
            </manage_customshipping_items>             
        </children>
      </customshipping>
    </menu>    
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <Faaya_Customshipping>
              <title>Customshipping Module</title>
              <sort_order>800</sort_order>
            </Faaya_Customshipping>
            <system>
              <children>
                <config>
                  <children>
                    <customshipping>
                      <title>Customshipping Settings</title>
                    </customshipping>
                  </children>
                </config>
              </children>
            </system>
            <customshipping translate="title" module="customshipping">
                <title>Customshipping</title>
                <sort_order>800</sort_order>
                <children>
                    <manage_customshipping_items translate="title">
                        <title>Manage Customshipping Days</title>
                        <sort_order>800</sort_order>
                    </manage_customshipping_items>
                </children>
            </customshipping>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <customshipping>
          <file>customshipping.xml</file>
        </customshipping>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <models>
      <customshipping>
        <class>Faaya_Customshipping_Model</class>
        <resourceModel>customshipping_mysql4</resourceModel>
      </customshipping>
      <customshipping_mysql4>
        <class>Faaya_Customshipping_Model_Mysql4</class>
        <entities>
          <customshipping>
            <table>customshipping</table>
          </customshipping>
        </entities>
      </customshipping_mysql4>
    </models>
    <resources>
      <customshipping_setup>
        <setup>
          <module>Faaya_Customshipping</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </customshipping_setup>
      <customshipping_write>
        <connection>
          <use>core_write</use>
        </connection>
      </customshipping_write>
      <customshipping_read>
        <connection>
          <use>core_read</use>
        </connection>
      </customshipping_read>
    </resources>
    <blocks>
      <customshipping>
        <class>Faaya_Customshipping_Block</class>
      </customshipping>
    </blocks>
    <helpers>
      <customshipping>
        <class>Faaya_Customshipping_Helper</class>
      </customshipping>
    </helpers>
  </global>
</config>