<?xml version="1.0"?>
<config>
  <modules>
    <Faaya_Shipmentapi>
      <version>1.0</version>
    </Faaya_Shipmentapi>
  </modules>
  <global>
    <models>
      <shipmentapi>
        <class>Faaya_Shipmentapi_Model</class>
      </shipmentapi>
    </models>
    <helpers>
      <shipmentapi>
        <class>Faaya_Shipmentapi_Helper</class>
      </shipmentapi>
    </helpers>
  </global>
</config>